# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual environment

venv/
env/
.venv/

# Environment variables

.env

# Database

db.sqlite3

# Media files

media/

# Static files

staticfiles/

# IDE

.vscode/
.idea/

# Logs

*.log

# OS

Thumbs.db
.DS_Store
