{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>{{ post.title }}</h2>

    <div class="card mb-4">

        <div class="card-body">

            <p>
                <strong>Plataforma:</strong>
                {{ post.get_platform_display }}
            </p>

            <p>
                <strong>Producto:</strong>
                {{ post.product_name }}
            </p>

            <p>
                <strong>Fecha:</strong>
                {{ post.created_at }}
            </p>

        </div>

    </div>

    <h4>Professional</h4>

    <div class="card mb-3">

        <div class="card-body">

            {{ post.professional_text|linebreaks }}

        </div>

    </div>

    <h4>Friendly</h4>

    <div class="card mb-3">

        <div class="card-body">

            {{ post.friendly_text|linebreaks }}

        </div>

    </div>

    <h4>Funny</h4>

    <div class="card mb-3">

        <div class="card-body">

            {{ post.funny_text|linebreaks }}

        </div>

    </div>

    <h4>Idea de Fotografía</h4>

    <div class="card mb-4">

        <div class="card-body">

            {{ post.photo_idea }}

        </div>

    </div>

    {% if post.images.last %}

    <h4>Imagen Generada con IA</h4>

        <div class="card mb-4">

         <img  src="{{ post.images.last.image.url }}"  class="card-img-top">

        </div>

    {% endif %}

    {% comment %}

    <h4 class="mt-4">

        Posters Generados
    
    </h4>
    
    {% for poster in post.posters.all %}
    
    <div class="card mt-3">
    
        <img
            src="{{ poster.image.url }}"
            class="card-img-top">
    
    </div>
    
    {% empty %}
    
    <p>
    
        No existen posters generados.
    
    </p>
    
    {% endfor %}

    {% endcomment %}



    {% if post.images.count < 3 %}

    <a
        href="{% url 'generate_post_image' post.id %}"
        class="btn btn-success">

        Generar otra versión de imagén

    </a>

    {% else %}

    <button
        class="btn btn-secondary"
        disabled>

        Límite alcanzado (3/3)

    </button>

{% endif %}

{% comment %}

{% if post.posters.count < 3 %}

{% endcomment %}

{% comment %}
<p class="text-muted">

    Posters generados:
    {{ post.posters.count }}/3

</p>
{% endcomment %}

{% comment %}
<form
    method="post"
    action="{% url 'generate_poster' post.id %}"
    class="mt-3">

    {% csrf_token %}

    <label class="form-label">

        Texto para el poster

    </label>

    <div class="form-check">

        <input
            class="form-check-input"
            type="radio"
            name="style"
            value="professional"
            checked>

        <label class="form-check-label">

            Profesional

        </label>

    </div>

    <div class="form-check">

        <input
            class="form-check-input"
            type="radio"
            name="style"
            value="friendly">

        <label class="form-check-label">

            Amigable

        </label>

    </div>

    <div class="form-check">

        <input
            class="form-check-input"
            type="radio"
            name="style"
            value="funny">

        <label class="form-check-label">

            Divertido

        </label>

    </div>

    <button
        type="submit"
        class="btn btn-warning mt-3">

        🖼 Generar Poster

    </button>

</form>
{% endcomment %}

{% comment %}

{% else %}

    <div class="alert alert-warning mt-3">

        Has alcanzado el límite de 3 posters para esta publicación.

    </div>

{% endif %}
{% endcomment %}
<br></br>

    <a href="{% url 'post_history' %}" class="btn btn-secondary"> Volver al historial</a>

</div>

{% endblock %}