{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h3 class="mb-4 text-center">
                    Iniciar Sesión
                </h3>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">

                        {{ form.username }}

                    </div>

                    <div class="mb-3">

                        {{ form.password }}

                    </div>

                    <button class="btn btn-dark w-100">

                        Ingresar

                    </button>
                    <a href="{% url 'password_reset' %}">
                        ¿Olvidaste tu contraseña?
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}