{% extends 'base.html' %}

{% block title %}
Registro
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-body">

                <h3 class="mb-4 text-center">

                    Crear cuenta

                </h3>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">

                        {{ form.username }}

                    </div>
                    <div class="mb-3">

                        {{ form.first_name }}

                    </div>

                    <div class="mb-3">

                        {{ form.last_name }}

                    </div>
                    <div class="mb-3">

                        {{ form.identification }}

                    </div>
                    <div class="mb-3">

                        {{ form.phone }}

                    </div>
                   
                    <div class="mb-3">

                        {{ form.email }}

                    </div>

                    <div class="mb-3">

                        {{ form.password1 }}

                    </div>

                    <div class="mb-3">

                        {{ form.password2 }}

                    </div>

                    {% if form.errors %}
                    <div class="alert alert-danger">
                         {{ form.errors }}
                    </div>
                    {% endif %}

                    <button class="btn btn-dark w-100">

                        Registrarse

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}